<footer role="contentinfo">
  <div class="wrapper">

    <section class="footer-top">
      <nav>
        <ul>
          <li><h2>Our Firm</h2></li>
           <li><a href="{{site.baseurl}}/contact/">Contact us</a></li>

        </ul>
        <ul>
          <li><h2>Resources</h2></li>
          <li><a href="{{site.baseurl}}/accessibility">Accessibility</a></li>
          <li><a href="{{site.baseurl}}/copyright">Copyright</a></li>
          <li><a href="{{site.baseurl}}/privacy-statement/">Privacy</a></li>
          <li><a href="{{site.baseurl}}/disclaimer/">Disclaimer</a></li>
        </ul>        
      </nav>
        Este texo donde sale
    </section>

    <section>
      <div class="footer-logo">
        <img alt="logo footer" src="{{ site.baseurl }}/images/logo-partners.png">
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li><a href="#">Back to top &uarr;</a></li>
          </ul>
        </nav>

        <p>&copy; Arus Partners. Temporary Website. </p>
      </div>
    </section>

  </div>
</footer>
