<header class="dto--header" role="banner">
  <section class="page-header">
    <div class="wrapper">
      {% if page.url == "/" %}
      <div class="page-header__logo">
        Arus Partners logo
      </div>
      {% else %}
      <a href="{{site.baseurl}}/" class="logo">
        <div class="page-header__logo">
          Aurus Partners homepage
        </div>
      </a>
      {% endif %}
      {% unless include.hide-search %}
<!--site-search-->
      {% endunless %}
      {% unless include.hide-site-nav %}
      <div class="site-nav">
        <nav id="nav" class="site-nav__wrapper" aria-label="global navigation">
          <ul>
            <li><a href="{{site.baseurl}}/contact/">Contact us</a></li>
          </ul>
        </nav>
      </div><!--site-nav-->
      {% endunless %}
    </div><!--wrapper-->
  </section>

</header>
