---
layout: base
---

<article id="content" class="content-listing">

  <header class="about-dta">
    <h1>Aurus Partners</h1>
    <p class="abstract">The Digital Transformation Agency exists to make it easy for people to deal with government, by
      helping government transform services to be simple, clear and fast.</p>
  </header> 
    
    <section class="what-we-do">
    <h2 class="home-heading">Our Approach</h2>
    <ul class="list-vertical--fourths">

      {% for item in site.data.homepage_items %}
      <li>
        <article>
          <h3>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </h3>
          <p>{{ item.description }}</p>
        </article>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="news-media">
    <h2 class="home-heading">News and Views</h2>
    <ul class="list-vertical--fourths latest-post-list">

      {% for post in site.posts limit:8 %}
        {% assign url = post.url %}
        {% if post.external-url %}
          {% assign url = post.external-url%}
        {% endif %}

      {% include latest-post-list-item.html post=post show-category=1 %}

      {% endfor %}
    </ul>
    <p><a class="see-more" href="/news/">See more news</a></p>
    <p><a class="see-more" href="/blog/">See more views posts</a></p>
  </section>
  
</article>
