---
layout: base
---

<article id="content" class="content-listing">

  <header class="about-dta">
    <h1></h1>
    <p class="abstract">Arus Partners is an european private equity firm focused on Aerospace and Defence. Our business philosophy reflects a deep-seated belief that value is created by focusing on a few fundamentals: solid management, operational excellence, optimal capital structures, disruptive technology and long term investment programs.</p>
  </header> 
    
    <section class="what-we-do">
    <h2 class="home-heading">Our Approach</h2>
    <ul class="list-vertical--fourths">

      {% for item in site.data.homepage_items %}
      <li>
        <article>
          <h3>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </h3>
          <p>{{ item.description }}</p>
        </article>
      </li>
      {% endfor %}
    </ul>
  </section>
 
</article>
